@import "./global.scss";
// .mission-discrption-info{
//     color: $theme-btn-bg;
// }

.mb-20 {
  margin-bottom: 1rem;
}

.border-crest {
  // border: 1px solid $theme-btn-bg;
  width: 100%;
  height: 1px;
  background-color: $theme-btn-bg;
  opacity: 0.5;
}

.approch,
.approch-1 {
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .approch-dis {
    width: 70%;
    @media #{$extra-small} {
      width: 100%;
      margin-top: 1.2rem;
    }
    .md-subp {
      font-family: stem-extralight;
      font-size: 0.9rem;
    }
  }

  .approch-img {
    width: 20%;

    @media #{$extra-small} {
      width: 100%;
    }
  }

  .app-img-c {
    @media #{$extra-small} {
      width: 100%;
      height: 400px;
    }
  }
}

.approch {
  @media #{$extra-small} {
    flex-direction: column-reverse;
  }
}

.approch-1 {
  flex-direction: column;

  .md-subp {
    font-family: stem-extralight;
    font-size: 0.9rem;
  }
}

.app-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;

  .mission-discrption-info {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .md-subp {
    font-family: stem-extralight;
  }
}

.app-img {
  // width: 100px;
  height: 120px;
  vertical-align: middle;

  img{
      width: 70px !important;
  }
}

.approach-cards {
  margin-top: 4rem;
}

.impact-cards-bg {
  // background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 1rem;

  .impact-img {
    text-align: center;
    // margin: 0 auto 1.8rem;
    min-height: 70px;
    img {
      width: 50px;
    }
  }
  .mission-discrption-info {
    font-size: 0.8rem;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      font-size: 0.7rem;
      color: $black;
      font-family: stem-extralight;
      // text-transform: uppercase;
    }
  }
}

.goal-section {
  .goal-heading {
    font-family: stem-medium;
    color: $theme-btn-bg;
    margin-bottom: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
.goal-dis{
  color: $black;
  font-family: stem-extralight;
  // font-size: 1.2rem;
  line-height: 32px;
}

.goal-img {
  @media #{$extra-small}{
    margin-bottom: 1rem;
  }
  img {
    min-height: 400px;
  }
}

.heading-bg {
  background-color: $theme-btn-bg;
  color: #fff;
  display: inline-block;
  padding: 0.3rem;
  font-size: 0.8rem;
  margin-bottom: 0.6rem;
  text-transform: uppercase;
  font-family: stem-bold;
  letter-spacing: 1px;
}
.crest-left {
  margin-left: -12px;
}
.mission-discrption {
  margin-top: 0.2rem;
}


.crest-breadcrumb{

  .breadcrumb{
    margin: 0;
    padding: 0;
    font-size: 10px;

    a{
      text-align: none;
      color: #9e9e9e;
    }
  }
}

.mt-20{
  margin: 4rem 0;

  @media #{$extra-small}{
    margin: 0;
  }
}
.climate-box-inner{
  background-color: rgba(0,0,0,.8);
  padding: 3.4rem 2rem;
  color: $white;

  @media #{$extra-small}{
    margin: 1rem 0;
    padding: 2rem;
  }

  h6{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    // margin-bottom: 0.7rem;
  }
  h2{
    font-size: 2rem;
    font-family: stem-bold;
    color: $theme-btn-bg;
    margin-bottom: 1rem;
  }

  p{
    font-size: 0.8rem;
    font-family: stem-light;
  }
}

.climate-left{
  padding-left: 3rem;
  @media #{$extra-small}{
    padding-left: 0;
  }
}

.climate-sec-inner{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media #{$extra-small}{
    flex-direction: column;
  }
  .climate-box-inner{
    width: 40%;
    @media #{$extra-small}{
     width: 100%;
    }
  }

  .climate-box-books{
    width: 55%;
    @media #{$extra-small}{
     width: 100%;
    }
  }
}

.pub-sec-row2{
  .row{
    .col{
      padding: 0;
    }
  }
}

.page-heads{
  margin-top: 8rem;
}