@import "../styles/global.scss";
footer p {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
footer h4 {
  margin-bottom: 1rem;
}

footer .container .row .link {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

footer .container .col-3,
.col-1,
.col-2 {
  padding: 0;

  @media #{$extra-small} {
    width: 100%;
    padding: 1rem;
  }
}

.footer-address {
  border-left: 1px solid #ffffff;
  padding-left: 1rem;

  p {
    font-size: 0.6rem !important;
  }
}

#footer-col-2 {
  margin: 0 2rem 0 2rem;
  @media #{$extra-small} {
    margin: 0;
  }
}

#footer-col-3,
#footer-col-4,
#footer-col-5 {
  margin: 0 -2rem 0 0;
}

.footer-copy {
  margin-top: 30%;

  .footer-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;

    P {
      font-size: 0.7rem;
    }
  }
}
.crest-header {
  display: flex;
  // align-items: center;
  // justify-content: center;
  position: relative;
  padding: 0.9rem 0;
  background-color: $white;
}

.crest-menu {
  position: absolute;
  right: 0px;
  top: 30%;
  .menu-btn {
    width: 40px;
  }
}

footer {
  margin-top: 5rem;
}

footer a {
  color: #ffffff;
}

// navbar

.crest-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.crest-right-nav {
  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-flex;
      margin: 0;
      position: relative;
      padding: 0 1.5rem;
    
      &:not(:last-child)::after {
        position: absolute;
        content: "";
        right: 0px;
        top: 0;
        height: 100%;
        width: 2px;
        background: $text-color;
      }

      a {
        color: $text-color;
        font-size: 0.6rem;
        text-transform: uppercase;
        position: relative;

        &:hover {
          color: $theme-btn-bg;
        }
      }
    }
  }
}


.crest-left-logo{
  img{
    width: 200px;
  }
}

.creast-inner{
  border: 1px solid red;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 85vh;
}